$font-stack: 'Roboto', sans-serif;


$first-color:#00E6F6;
$second-color:#1F6CAB;
$third-color:#082A3A;
$fourth-color:#FFFFFF;
$error-color:#FF0000;
$error-bgColor:#FFCACA;
$success-color:#4F8A10;
$success-bgColor:#DFF2BF;




@mixin background{
  background-color: $third-color;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-stack;
    outline: none;
    border: none;
    text-decoration: none;

  }

  ::-webkit-scrollbar {
    display: none;
}

body{

  @include background
}
// NAVIGATION BAR
.navbar__container{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: $third-color;
    height: 5rem;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    z-index: 1;
    .navbar__logo{
      a{
        position: relative;
        font-size: 2rem;
        color: $fourth-color;
        margin: 0 1rem;
        transition: all 0.3s ease-in-out;
        &:hover{
          color: $first-color;
        }
      }
    }
    .navbar__links{
      a{
        color: $fourth-color;
        margin: 0 1rem;
        transition: all 0.3s ease-in-out;
        &:hover{
          color: $first-color;
        }
      }
    }
  }

  h2{
    position: absolute;
    font-size: 2rem;
    font-weight: 500;
    top: 5rem;
    right: 53rem;
    letter-spacing: 1px;
    color: $first-color;
    text-align: center;
    margin: 2rem;
  }
  // CARDS
.container{

  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;


  .card{
    position: relative;
    background-color: $third-color;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    width: 20rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: $fourth-color;

    &:hover{
      transform: translateY(1.5rem);
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    }
    .card__title{
      font-size: 1.5rem;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 1rem;
      color: $second-color;

      &:hover{
        text-decoration: underline;
        color: $first-color;
        transition: all 0.3s ease-in-out;

      }


    }
    .card__description{
      font-size: 1rem;
      font-weight: 300;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 2rem;
    }
    .card__link{
      a{
        color: $fourth-color;
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        &:hover{
          color: $first-color;
        }
      }
    }
    .card__date{
      color: $first-color;
      transition: 0.2s;
      opacity: 80%;
      font-size: .9rem;
      margin-bottom: 2rem;

    }
    .card__arrow {
      position: absolute;
      background: $second-color;
      padding: 0.4rem;
      bottom: .0rem;
      right: 1rem;
      font-size: .8rem;
      text-align: center;
      width: 6rem;
      font-weight: 300;
      letter-spacing: 1px;
      text-transform: uppercase;
      border-radius: .2rem;
      color: $fourth-color;
      margin: 0 0 1rem 0;
      background-color: $third-color;
      transition: all 0.3s ease-in-out;
      &:hover{
        text-decoration: underline;
        color: $first-color;
        transition: all 0.3s ease-in-out;

      }
    }
  }


}

.heading{
  position: absolute;
  font-size: 2rem;
  font-weight: 500;
  top: 5rem;
  right: 73rem;
  letter-spacing: 1px;
  color: $first-color;
  text-align: center;
  margin: 2rem;
}
.show__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .wrapper{
    position: relative;
    background-color: $third-color;
    color: $fourth-color;
    border-radius: 1rem;
    padding: 2rem;
    margin: 5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    width: 30rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;



    &:hover{
      transform: translateY(1rem);
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    }
  }
  .show__title{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    color: $first-color;
    text-align: justify;
  }
  .show__description{
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: justify;
    margin-bottom: 2rem;
    color: $fourth-color;
  }
  .show__date{
    color: $first-color;
    transition: 0.2s;
    opacity: 80%;
    font-size: .9rem;
    margin-bottom: 1rem;

  }
  .show__edit--link{

    text-align: center;
    font-size: .8rem;
    font-weight: 300;
    background-color: $first-color;
    margin: 0 0 1rem 1rem;
    letter-spacing: 1px;
    padding: .4rem;
    text-transform: uppercase;
    color: $first-color;
    background-color: $third-color;
    border-radius: .2rem;
    transition: all 0.3s ease-in-out;
    &:hover{
      background-color: $first-color;
      border-radius: .2rem;
      color: $third-color;
      transition: all 0.3s ease-in-out;

    }

}
  .show__delete--link{
      text-align: center;
      font-size: .8rem;
      font-weight: 300;
      background-color: $first-color;
      margin: 0 0 1rem 1rem;
      letter-spacing: 1px;
      padding: .4rem;
      text-transform: uppercase;
      border-radius: .2rem;
      color: $third-color;
      transition: all 0.3s ease-in-out;
      &:hover{
        color: $first-color;
        background-color: $third-color;
        transition: all 0.3s ease-in-out;

      }

  }

}

.custom__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;



  .wrapper{
    position: relative;
    background-color: $third-color;
    color: $fourth-color;
    border-radius: 1rem;
    padding: 1rem;
    margin: 5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    width: 30rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;



    label{
      color: $first-color;
      font-size: 1rem;
      font-weight: 300;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 1rem;
      font-weight: bold;
    }
    textarea{
      border: 1px solid $first-color;
      border-radius: .2rem;
      padding: 1rem;
      margin-bottom: 1rem;
      color: $fourth-color;
      background-color: $third-color;
      transition: all 0.3s ease-in-out;
      &:hover{
        border: 1px solid $second-color;
      }

    }
    input[type=text]{
      border: 1px solid $first-color;
      border-radius: .2rem;
      padding: 1rem;
      margin-bottom: 1rem;
      color: $fourth-color;
      background-color: $third-color;
      transition: all 0.3s ease-in-out;
      &:hover{
        border: 1px solid $second-color;
      }


    }

    .datetime__container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      position: relative;
      .datetime{
        border: 1px solid $first-color;
        border-radius: .2rem;
        padding: .2rem;
        margin-bottom: 1rem;
        color: $fourth-color;
        background-color: $third-color;
        transition: all 0.3s ease-in-out;
        &:hover{
          border: 1px solid $second-color;
        }
      }

    }
    input[type=submit]{
      text-align: center;
      width: 8rem;
      font-size: .8rem;
      font-weight: 300;
      background-color: $first-color;
      margin: 0 0 1rem 10rem;
      letter-spacing: 1px;
      padding: .4rem;
      text-transform: uppercase;
      border-radius: .2rem;
      color: $third-color;
      transition: all 0.3s ease-in-out;
      &:hover{
        color: $first-color;
        background-color: $third-color;
        transition: all 0.3s ease-in-out;
      }
    }

    .errors{

      color: $error-color;
      font-size: .8rem;
      font-weight: 300;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 1rem;
      // put an effects error
      .cont{
        margin: 2rem 0;
        color: $first-color;
      }
      li{
        margin-bottom: .5rem;
        color: $first-color;
      }
    }

    div.field_with_errors{
      display: inline-block;
      label{
        color: $error-color;
      }
      input[type=text]{
        border: 1px solid $error-color;
      }
      textarea, select{
        border: 1px solid $error-color;
      }
    }
  }


}

