<% if object.errors.any?%>
    <div class="errors">
        <h3><%= pluralize(object.errors.count, "error") %> Prohibited this post from being saved: </h3>
        <h3 class="cont"> Prohibited this post from being saved: </h3>

        <%object.errors.full_messages.each do|message| %>
            <li><%= message %></li>
        <% end %>
    </div>
<% end %>