<nav>
    <div class="navbar__container">
        <div class="navbar__logo">
            <%= link_to "Blog",root_path %>
        </div>

        <div class="navbar__links">
            <%= link_to "Posts", posts_path %>
            <%= link_to "New Post", new_post_path %>
        </div>
    </div>
</nav>